<html>
<h1>UMOWA O PRACĘ TYMCZASOWĄ</h1>

<p>Umowa o pracę zawarta w Szczecinie w dniu {{ internaldoc.dateofconclusion|date("Y-m-d") }} roku pomiędzy:</p>
<p>7HR Kamil Zieliński z siedzibą w Szczecinie, ul. Bolesława Śmiałego 18/1, 70-347 Szczecin, posiadającą
    NIP 669-227-92-62, REGON 320660237, reprezentowaną przez Pana Kamila Zielińskiego – właściciela, a
    {{ internaldoc.employee.name }} {{ internaldoc.employee.surname  }}. Zamieszkały(a): 	{{ internaldoc.employee.city }}., ul. {{ internaldoc.employee.address }},
    urodzony {{ internaldoc.employee.dob|date("Y-m-d") }},
    miejsce urodzenia: {{ internaldoc.employee.pob }}, legitymujący się paszportem nr {{ internaldoc.employee.passport }},
    zwanym dalej Pracownikiem Tymczasowym.</p>

<p>Artykuł 1</p>


<li>1. 7HR zatrudnia Pracownika Tymczasowego na czas określony od dnia {{ internaldoc.datefrom|date("Y-m-d") }} do dnia
    {{ internaldoc.dateto|date("Y-m-d") }}
    w pełnym wymiarze czasu pracy na stanowisku: {{ internaldoc.position.name }} </li>

<li>2. Każda ze stron może rozwiązać niniejszą umowę z zachowaniem 7 dniowego okresu wypowiedzenia.</li>

<li>3. Pracownik jest zobowiązany zgłosić się do pracy w pierwszym dniu trwania umowy.</li>

<p>Artykuł 2</p>

<li>1. Miejscem wykonywania pracy Pracownika Tymczasowego jest zakład Pracodawcy Użytkownika:
    {{ internaldoc.company.name }}
{{ internaldoc.company.street }}{{ internaldoc.company.postcode }}{{ internaldoc.company.city }}</li>
<p>Artykuł 3</p>
<li>1. strony uzgodniły, iż wykonywanie pracy powyżej 8 godzin na dobę i przeciętnie 40 godzin w przeciętnie
    pięciodniowym tygodniu pracy uprawnia Pracownika Tymczasowego do otrzymania oprócz normalnego wynagrodzenia,
    dodatku za prace w godzinach nadliczbowych.</li>
<p>Artykuł 4</p>
<li>1. Wynagrodzenie zasadnicze brutto Pracownika Tymczasowego wynosi {{ internaldoc.position.rate }}
    (słownie: {{ transformer.toWords(internaldoc.position.rate * 100, 'PLN') }}) za godzinę
    pracy (średnio 1680,00 PLN miesięcznie, słownie: {{ transformer.toWords(internaldoc.position.rate * 100*168, 'PLN') }}).
    (dodatkowe składniki wynagrodzenia: premia przyznawana zgodnie z regulaminem wynagrodzenia). </li>
<li>2. Wynagrodzenie jest wypłacane Pracownikowi Tymczasowemu raz w miesiącu, z dołu, 10-go dnia następnego miesiąca
    lub do ostatniego dnia roboczego przypadającego przed tą datą, w kasie 7HR, w Szczecinie,
    przy ul. Bolesława Śmiałego 18/1 albo za zgodą Pracownika Tymczasowego na wskazany przez niego rachunek bankowy.</li>
<p>Artykuł 5</p>
<li>1. Pracownik Tymczasowy zobowiązuje się ściśle przestrzegać przepisów bhp i ppoż.</li>
<p>Artykuł 6</p>
<li>1. W czasie trwania niniejszej umowy, a także w czasie jednego roku po jej rozwiązania lub wygaśnięcia,
    pracownik Tymczasowy zobowiązuje się do zachowania w ścisłej tajemnicy wszelkich informacji dotyczących pracodawcy
    użytkownika oraz 7HR. Jakiekolwiek przekazywanie, ujawnianie, wykorzystywanie, zbywanie albo oferowanie tych
    informacji jest dopuszczalne tylko za uprzednim, pisemnym zezwoleniem pracodawcy użytkownika i 7HR.</li>
<li>2. W przypadku rozwiązania lub wygaśnięcia niniejszej umowy Pracownik Tymczasowy jest zobowiązany zwrócić wszystkie
    powierzone mu przedmioty, w szczególności: dokumenty, materiały, narzędzia, odzież ochronną i roboczą.</li>
<p>Artykuł 7</p>
<li>1. W kwestiach nieuregulowanych niniejszą Umową, znajdują zastosowanie odpowiednie przepisy Ustawy o zatrudnianiu
    pracowników tymczasowych, Kodeksu pracy oraz innych obowiązujących aktów prawnych</li>
<br>
<br>
<hr>
W imieniu 7HR                           Podpis pracownika Tymczasowego<br>

<br>
<body>
Oświadczam, że egzemplarz niniejszej umowy otrzymałam(em) i po zapoznaniu się z jej treścią zaproponowane mi warunki
pracy i wynagrodzenia przyjmuję.
Jednocześnie potwierdzam, że zostałem poinformowany o uzgodnieniach, o których mowa w Art. 9 i 10 Ustawy o zatrudnianiu
pracowników tymczasowych z dnia 9 lipca 2003 r.
Niniejszym, przyjmuje do wiadomości, że wymiar mojego urlopu wypoczynkowego jest uzależniony od czasu pozostawania w
dyspozycji jednego lub więcej pracodawców użytkowników i wynosi 2 dni za każde 30 dni pracy.

Przyjmuję do wiadomości, że niedostarczenie 7HR podpisanego egzemplarza umowy o pracę w ciągu 3 dni od daty jej
zawarcia, może stanowić podstawę do rozwiązania umowy.

Oświadczam, że przed podpisaniem niniejszej umowy zostałem zapoznany z jej treścią w języku ukraińskim oraz otrzymałem
egzemplarz umowy w języku polskim oraz ukraińskim.

Oświadczam, że zostałem zapoznany z obowiązującymi u Pracodawcy Użytkownika politykami, kodeksami, przepisami i
procedurami wewnętrznymi, w szczególności instrukcjami i przepisami z zakresu BHP i p.poż., procedurami i polityką
jakości, higieny i HACCP, polityką społecznej odpowiedzialności, kodeksem postępowania i kodeksem etycznym oraz
zobowiązuję się do ich przestrzegania.
</body>

<hr>
Data i podpis pracownika tymczasowego
</html>