{% extends 'base.html.twig' %}

{% block body %}
    <h1>Employees list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Surname</th>
                <th>Pob</th>
                <th>Dob</th>
                <th>Citizenship</th>
                <th>Passport</th>
                <th>Status</th>
                <th>Visafrom</th>
                <th>Visato</th>
                <th>Permitfrom</th>
                <th>Permitto</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for employee in employees %}
            <tr>
                <td><a href="{{ path('employee_show', { 'id': employee.id }) }}">{{ employee.id }}</a></td>
                <td>{{ employee.name }}</td>
                <td>{{ employee.surName }}</td>
                <td>{{ employee.pob }}</td>
                <td>{% if employee.dob %}{{ employee.dob|date('Y-m-d') }}{% endif %}</td>
                <td>{{ employee.citizenship }}</td>
                <td>{{ employee.passport }}</td>
                <td>{{ employee.status }}</td>
                <td>{% if employee.visaFrom %}{{ employee.visaFrom|date('Y-m-d') }}{% endif %}</td>
                <td>{% if employee.visaTo %}{{ employee.visaTo|date('Y-m-d') }}{% endif %}</td>
                <td>{% if employee.permitFrom %}{{ employee.permitFrom|date('Y-m-d') }}{% endif %}</td>
                <td>{% if employee.permitTo %}{{ employee.permitTo|date('Y-m-d') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('employee_show', { 'id': employee.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('employee_edit', { 'id': employee.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('employee_new') }}">Create a new employee</a>
        </li>
    </ul>
{% endblock %}
