{% extends 'base.html.twig' %}

{% block body %}
    <h1>Employee creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        {% if employee.forWho == true %}
        {{ employee.citizenship }}
        {% endif %}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('employee_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
