{% extends 'base.html.twig' %}

{% block body %}
    <h1>Employee</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ employee.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ employee.name }}</td>
            </tr>
            <tr>
                <th>Surname</th>
                <td>{{ employee.surName }}</td>
            </tr>
            <tr>
                <th>Pob</th>
                <td>{{ employee.pob }}</td>
            </tr>
            <tr>
                <th>Dob</th>
                <td>{% if employee.dob %}{{ employee.dob|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Citizenship</th>
                <td>{{ employee.citizenship }}</td>
            </tr>
            <tr>
                <th>Passport</th>
                <td>{{ employee.passport }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ employee.status }}</td>
            </tr>
            <tr>
                <th>Visafrom</th>
                <td>{% if employee.visaFrom %}{{ employee.visaFrom|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Visato</th>
                <td>{% if employee.visaTo %}{{ employee.visaTo|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Permitfrom</th>
                <td>{% if employee.permitFrom %}{{ employee.permitFrom|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Permitto</th>
                <td>{% if employee.permitTo %}{{ employee.permitTo|date('Y-m-d') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('employee_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('employee_edit', { 'id': employee.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
