    {% extends 'base.html.twig' %}

    {% block body %}
        <h1>Workloads list</h1>

        <table>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Imię </th>
                    <th>Nazwisko </th>
                    <th>Nazwa firmy</th>
                    <th>Stanowisko</th>
                    <th>Stawka</th>
                    <th>Godzin</th>
                    <th>50%</th>
                    <th>100%</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for workLoad in workLoads %}
                <tr>
                    <td><a href="{{ path('workload_show', { 'id': workLoad.id }) }}">{{ workLoad.id }}</a></td>

                    <td>{{ workLoad.employee.name  }}</td>
                    <td>{{ workLoad.employee.surName }}</td>
                    <td>{{ workLoad.company}}</td>
                    <td>{{ workLoad.position}}</td>
                    <td>{{ workLoad.position.rate }}</td>
                    <td>{{ workLoad.hoursInMnth }}</td>
                    <td>{{ workLoad.hoursWithFifty }}</td>
                    <td>{{ workLoad.hoursWithHoundred }}</td>

                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('workload_show', { 'id': workLoad.id }) }}">show</a>
                            </li>
                            <li>
                                <a href="{{ path('workload_edit', { 'id': workLoad.id }) }}">edit</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endblock %}
