{% extends 'base.html.twig' %}

{% block body %}
    <h1>Workload</h1>

    <table>
        <tbody>
            <tr>
                <th>Employee</th>
                <td>{{ workLoad.employee}}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ workLoad.id }}</td>
            </tr>
            <tr>
                <th>Hoursinmnth</th>
                <td>{{ workLoad.hoursInMnth }}</td>
            </tr>
            <tr>
                <th>HoursWithFifty</th>
                <td>{{ workLoad.hoursWithFifty }}</td>
            </tr>
            <tr>
                <th>HoursWithHoundred</th>
                <td>{{ workLoad.hoursWithHoundred }}</td>
            </tr>


        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('workload_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('workload_edit', { 'id': workLoad.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
